* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'arial';
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar {
    background-color: aqua;
    grid-column: 1/1;
    grid-row: 1/4;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/4;
    grid-row: 3/4;
}

.projects {
    background-color: antiquewhite;
    grid-column: 1/2;
}

.announcements, .trending {
    grid-column: 2/4;
}

.announcements {
    background-color: yellow;
    grid-row: 1/4;
}

.trending {
    background-color: chartreuse;
    grid-row: 1/2;
}


.card {
    background-color: aliceblue;
}

.announcements-container {
    background-color: aqua;
}

.trending-container {
    background-color: yellow;
}