* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'arial';
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 0rem 2rem; 
    padding-bottom: 3rem;
}

.searchbar-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar-bar>input {
    width: 750px;
    height: 2rem;
    border-radius: 15px;
    outline: none;
}


.header-profile {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    align-items: center;
}

.user-content-container {
    display: flex;
    gap: 1rem;
}

.profile-picture-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture-username {
    font-size: 1.5rem;
    font-weight: bolder;
}

.header-buttons-container>ul {
    list-style: none;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}

.header {
    background-color: red;
    padding: 1.5rem;
}

.user-related-search {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.search-profile-picture {
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.profile-picture {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

.sidebar {
    background-color: rgb(109, 151, 206);
    color: #fff9f9;
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 1.5rem;
}

.sidebar-title {
    font-size: 1.7rem;
    font-weight: bolder;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
}

.profile-buttons,.settings-buttons-container {
    padding-bottom: 3rem;
}

.profile-buttons>ul>li,.settings-buttons-container>ul>li {
    font-size: 1.4rem;
    font-weight: bold;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul>li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

/* 
.main-content {
    background-color: aqua;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 2/4;
    padding: 2rem 3rem 4rem 1rem;
}

.section-container {
    height: 100%;
}

.social-section-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects {
    grid-column: 1/2;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin: 1rem;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #90a7bb
}

.social-media {
    display: flex;
    flex-direction: column;
}

.announcements-container {
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 4px 4px 4px 0px #90a7bb;
}

.announcements-section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.announcements-section>h2 {
    color: black;
    font-size: 0.95rem;
}


.announcements-section>p {
    color: rgb(145, 145, 145);
    font-size: 0.95rem;
}


.trending-container {
    height: 100%;
    background-color: turquoise;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    box-shadow: 4px 4px 4px 0px #90a7bb
}

.profile-picture-trending {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}

.trending-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


*/
h1 {
    font-size: 1.25rem;
    margin: 1rem 1rem 1rem 1rem;
}

.main-content {
    display: grid;
    background-color: black;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 2/4;
}

.projects {
    background-color: aqua;
    grid-row: 1/3;
}

.project-card {
    border: 1px solid black 
}

.announcements {
    background-color: blue;
}

.announcements-container {
    display: flex;
    height: 100%;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-around;
}

.trending {
    background-color: blueviolet;
    grid-column: 2/2;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-row: 1/3;
    gap: 1rem;
    margin: 1rem 4rem 0rem 1rem;
    border: 1px solid yellowgreen;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: red;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 4px 4px 5px 0px black;
}

.trending-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
}
